body {
    background: #ffffff;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
}

.form-group {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}


.buttons {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logout_button {
    position: fixed;
    right: 0;
    top: 2%;
    width: 10%;
    text-align: center;
}
.info {
    font-size: 20px;
    text-align:center;
    margin-top: 5%;
}

form{
    margin-bottom: 2%;
    margin-top: 2%;
}