{% extends "rating/base.html" %}
{% block title %}
    Add subject
{% endblock %}
{% block body %}
    {% load bootstrap4 %}

    <form method="post" style="text-align: center">
        {% csrf_token %}
        {% bootstrap_form form %}


        <div class="buttons">
            <input type="submit" value="Activate" class="btn btn-success">
            <a href="{% url 'rating:index' %}" class="btn btn-primary">Main page</a>
        </div>
    </form>

    {#    {% if subject_list  %}#}
    {#         <form action="{% url 'rating:activate_subject' %}" method="post">#}
    {#            {% csrf_token %}#}
    {#            {% for subject in subject_list %}#}
    {#                <input type="checkbox" name="{{ subject.shortcut }}" value={{ subject }} > {{ subject.fullname }} - created by {{ subject.user.basic_info.username }}<br>#}
    {#            {% endfor %}#}
    {#             <input type="submit" value="Activate" class="btn btn-success">#}
    {#        </form>#}
    {#    {% else %}#}
    {#        <div class="info">#}
    {#            <p>There is no subjects to activate!</p>#}
    {#        </div>#}
    {#    {% endif %}#}

    {#    <select>#}
    {#        {% for subject in subject_list %}#}
    {#            <option value="{% url 'rating:subject' subject.id %}"> {{ subject.fullname }} - {{ subject.tutor }}</option>#}
    {#        {% endfor %}#}
    {#    </select>#}

{% endblock %}
