{% extends "rating/base.html" %}
{% block title %}
   Dodaj przedmiot
{% endblock %}
{% block body %}

    <form action="{% url 'rating:activate_subject' %}" method="post">
        {% csrf_token %}
        {% if subject_list  %}
            {% for subject in subject_list %}
                <input type="checkbox" name="{{ subject.shortcut }}" value={{ subject }} > {{ subject.fullname }} - created by {{ subject.user.basic_info.username }}<br>
            {% endfor %}
            <input type="submit" value="Aktywuj">
        {% else %}
            <div class="info">
                <p>Brak przedmiotów do aktywowania!</p>
            </div>
        {% endif %}
    </form>
    <div class="buttons">
        <a href="{% url 'rating:index' %}" class="btn btn-primary">Strona główna</a>
    </div>
{#    <select>#}
{#        {% for subject in subject_list %}#}
{#            <option value="{% url 'rating:subject' subject.id %}"> {{ subject.fullname }} - {{ subject.tutor }}</option>#}
{#        {% endfor %}#}
{#    </select>#}

{% endblock %}
