<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block title %}
            Subject rating system
        {% endblock %}
    </title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

{% block body %}
{% endblock %}

</body>
{% block logout_button %}
    <div class="logout_button">
        <a href="{% url 'logout' %}" class="btn btn-danger"> Logout </a>
    </div>
{% endblock %}
</html>