{% extends "rating/base.html" %}
{% block title %}
    Opinion
{% endblock %}
{% block body %}

    <h1>{{ opinion.title }}</h1>
    <h2>{{ opinion.subject }}</h2>
    <h2> Creation: {{ opinion.date }}</h2>
    <h3>
        {% if opinion.last_edited %}
            Last edited: {{ opinion.last_edited }}
        {% endif %}
    </h3>
    <p>{{ opinion.text }}</p>
    <p>Mark: {{ opinion.rating }}</p>

    <div class="buttons">
        {% if logged_user == opinion.user %}
            <a href="{% url 'rating:modify_opinion' opinion.pk %}" class="btn btn-primary">Edit opinion</a>
        {% endif %}
        <a href="{% url 'rating:subject' opinion.subject.pk %}" class="btn btn-danger">Subject main page</a>
    </div>

{% endblock %}