{% extends "rating/base.html" %}
{% block title %}
    {{ subject.shortcut }}
{% endblock %}
{% block body %}

    <h1>{{ subject.fullname }} - {{ subject.shortcut }}</h1>
    <h2>{{ subject.tutor }}</h2>
    <p>Info: {{ subject.basic_info }}</p>
    <p>Mark: {{ subject.rating|floatformat:2 }} </p>

    <h3>Opinions:</h3>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    {% for opinion in filter.qs %}
        <a href="{% url 'rating:opinion' opinion.id %}"> <p>{{ opinion.title }} - {{ opinion.text|truncatechars:20 }}</p> </a>
    {% endfor %}

    <div class="buttons">
        <a href="{% url 'rating:index' %}" class="btn btn-primary">Main page</a>
        <a href="{% url 'rating:add_opinion' subject.id %}" class="btn btn-success">Add opinion</a>
    </div>


{% endblock %}